body {
	/*background: #ffffff;*/
	background-size: cover;
	background: dimgrey url('https://drknbmw32n1iy.cloudfront.net/images/people_meeting_flipped.jpg') no-repeat fixed center center;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	-o-background-size: 100% auto;
	color: white;
}

body[id^='admin'] {
	background: unset !important;
	color: initial !important;
}

.form-signin
{
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
	margin-bottom: 10px;
}
.form-signin .checkbox
{
	font-weight: normal;
}
.form-signin .form-control
{
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.form-signin .form-control:focus
{
	z-index: 2;
}
.form-signin input[type="text"]
{
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.account-wall
{
	margin-top: 20px;
	padding: 40px 0px 20px 0px;
	background-color: #f7f7f7;
	-moz-box-shadow: 0px 2px 30px black;
	-webkit-box-shadow: 0px 2px 30px black;
	box-shadow: 0px 2px 30px black;
}
.login-title
{
	color: #555;
	font-size: 18px;
	font-weight: 400;
	display: block;
}
.profile-img
{
	margin: 0 auto 10px;
	display: block;
}
.forgot-password-link {
	margin-top: 8px;
}
.sso-and-create-account-links {
	margin: 15px;
	padding: 5px;
	border-top: thin solid #b5b1b1;
	padding-top: 18px;
}

.create-account-link {
	margin-top: 18px;
}
.vertical-center {
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :-)       */
	background-color: transparent;
	display: flex;
	align-items: center;
}
.content {
	background-color: transparent;
}

.login-logo {
	max-height: 125px;
	max-width: 100%;
	padding: 10px;
}

@media (max-width: 767px) {
	body {
		background-image: none;
	}
}
